.glow-text {
    font-family: "Pixelify Sans", serif;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 10px #ff66b2, 0 0 20px #ff33a6, 0 0 40px #cc0099;
    animation: glow 2s infinite alternate;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 5px #ff66b2, 0 0 10px #ff33a6, 0 0 20px #cc0099;
    }

    100% {
        text-shadow: 0 0 10px #ff66b2, 0 0 20px #ff33a6, 0 0 40px #cc0099;
    }
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}